__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
outputs/
tmp/
*.tif
*.tiff
*.h5
*.hdf5
*.nc
*.grd
*.img
*.vrt
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.SAFE/
*.zip
*.7z
*.rar

*.npz
